* {
  margin: 0px;
  padding: 0px;
}

header {
  border-bottom: 1px solid rgb(190, 219, 223);
  min-height: 15vh;
}
.rubrik {
  display: flex;
  justify-content: center;
}
.control-panel {
  gap: 15px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  gap: 10px;
}
.control-panel_text {
  margin-left: 10px;
}
nav {
  display: flex;
  gap: 25px;
  margin-left: 20px;
  align-items: center;
}
nav a {
  color: rgb(41, 32, 32);
  text-decoration: none;
}
nav a:hover {
  color: blanchedalmond;
}

.Huvudbilder {
  display: flex;
  justify-content: space-around;
}
.Sidobilder {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 90px;
}
.underRubrik {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid;
  min-height: 6vh;
}
.underRubrikText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid;
}
.slutBilder {
  display: flex;
  justify-content: space-around;
}
footer {
  margin-top: 2%;
  background-color: rgb(245, 220, 220);
}
.textFooter {
  display: flex;
  justify-content: space-evenly;
  margin-right: 6%;
}
.footerPics {
  display: flex;
  justify-content: space-evenly;
  margin-right: 6%;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.tagsMittenBilder {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  margin-left: 125px;
}
.customBild {
  margin: 5%;
  margin-left: 15%;
  display: flex;
}
.customBildFix {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}
.mejlTryck {
  margin-top: 40px;
}
.kundvagnFärg {
  background-color: rgb(248, 248, 248);
}
.rubrikKundvagn {
  padding-top: 5%;
  padding-left: 4%;
}
.kundvagnDesign {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.kundvagnRubriker {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 15%;
}
.btn {
  outline: none;
  display: block;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 30px;
  background: rgb(228, 128, 82);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  margin-left: 20px;
}
.btn:hover,
.btn-focus {
  background-color: rgb(156, 121, 105);
}
.btn-active {
  background: #ffffff;
}
.btn-outline {
  outline: none;
  display: block;
  border: solid 1px rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 30px;
  background: #ffffff;
  color: rgb(228, 128, 82);
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Montserrat", sans-serif;
}
.allaRekommenderadeProdukter {
  display: flex;
  margin-left: 30px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}
.reklamBilder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn2 {
  outline: none;
  display: block;
  border: 0;
  font-weight: 500;
  padding: 10px 20px;
  background: rgb(209, 129, 92);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Montserrat", sans-serif;
}
.btn2:hover {
  color: blanchedalmond;
}
